.grid{
    display: grid;
    grid-template: 70px 350px 70px / 200px 100px;
    grid-gap:20px 20px;
}
.box1{
    width: 200px;
    height: 350px;
    background: black;
    grid-row: 2;
}
.box2{
    width: 80px;
    height: 350px;
    background: black;
    grid-row: 2;
}
.main{
    width: 300px;
    height: 70px;
    background: black;
}
#one{
    grid-row: 3;
}