.grid{
    display: grid;
    grid-template: 80px 300px / 80px 80px 80px;
    grid-gap: 20px 20px;
}
#main{
    width: 280px;
    height: 80px;
    background: black;
}
.box{
    width: 80px;
    height: 300x;
    background:black;
}
#one{
    grid-column:1;
}
#two{
    grid-column:2;
}
#three{
    grid-column: 3;
}